@media print {
  *,
  *::before,
  *::after {
    opacity: 1 !important;
    border-color: $color-black !important;
    background: transparent !important;
    box-shadow: none !important;
    color: $color-black !important;
    text-shadow: none !important;
    animation: none !important;
    transition: none !important;
  }

  tr,
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
