.gbl-no-print {
  @media print {
	display: none !important;
  }
}

/*
//reset form
[type="checkbox"],
[type="radio"] {
  appearance: none;
  &::-ms-check {
	display: none; !* unstyle IE checkboxes *!
  }
}

select {
  appearance: none;

  &::-ms-expand {
	display: none; !* hiding IE11 arrow *!
  }
}*/
