.test {
  background: $color-blue-dark;
  height:300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  & h1 {
    width: 100%;
    text-align: center;
    color: $color-white;
    @include font-size(24px);
  }
}

.flex {
  color: $color-white;

  &-item {
    background: grey;
    height: 250px;

    @include media-min(M) {
      height: 320px;
    }

    @include media-min(L) {
      height: 500px;
    }

    img {
      @include object-fit(cover, center);
      height: 100%;
      width: 100%;
    }
  }
}

