* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: border-box;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include custom-selection($color-link);
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: $color-white;
  color: $color-text;
  @include font-base-regular;
  @include font-size(16px);
  @include font-smoothing;
  line-height: 1.5;

  // @include responsive-font-size(64px); // added on <html> in order to use rem units
  @include font-smoothing;

  // Avoid visible rectangle when taping on iOS/Android
  @include webkit-no-tap-highlight;
}
body {
  min-height: 100vh;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


// Set max-width for these elements
audio,
canvas,
iframe,
img,
svg,
video,
picture {
    max-width: 100%;
}


// Preserve ratio of images and pictures
img,
picture {
    margin: 0;
    height: auto;
}


// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


// Disable resizing of textareas.
textarea {
    resize: none; // vertical
}


// Avoid lists' default styling
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dl, dt, dd {
    margin: 0;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


button {
    color: inherit;
}

button,
select,
input[type="submit"] {
    border-radius: 0;
}

select::-ms-expand {
    display: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

@media print {
    *,
    *::before,
    *::after {
      opacity: 1 !important;
      border-color: $color-black !important;
      background: transparent !important;
      box-shadow: none !important;
      color: $color-black !important;
      text-shadow: none !important;
      animation: none !important;
      transition: none !important;
    }
  
    tr,
    img {
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
    }
  
    img {
      max-width: 100% !important;
    }
  
    @page {
      margin: 0.5cm;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
}