$base-responsive-font-size: 16px !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $text-large-spacing;
  line-height: $heading-line-height;
  font-weight: normal;
  // @include break-word;
}

h2 {
  @include font-size(18px);

  @include media-min (XL) {
	@include font-size(19px);
  }
  @include media-min (XL) {
	@include font-size(20px);
  }
}

h3, h4 {
  @include font-size(15px);

  @include media-min (L) {
	@include font-size(16px);
  }
  @include media-min (XL) {
	@include font-size(16px);
  }
}

h1:not([class]) {
  margin: 0 0 1em;
  padding: 30px 0 0;
  text-transform: uppercase;
  @include font-base-bold;
  @include font-size(24px);

  @include media-min(XL) {
	margin: 1em 0 1em;
	padding: 0;
	@include font-size(30px);
  }
}

h2:not([class]) {
  margin: 0 0 1em;
  padding: 30px 0 0;
  text-transform: uppercase;
  @include font-base-bold;
  @include font-size(20px);

  @include media-min(XL) {
	margin: 1em 0 1em;
	padding: 0;
	@include font-size(24px);
  }
}

h3:not([class]) {
  margin: 2em 0 1em;
  text-transform: uppercase;
  @include font-base-bold;
  @include font-size(20px);

  @each $theme, $map in $themes {
	#{map-get($map, 'class')} & {
	  color: map-get($map, 'color-text');
	}
  }
}

h4:not([class]) {
  @include font-base-bold;
  @include font-size(18px);

  @each $theme, $map in $themes {
	#{map-get($map, 'class')} & {
	  color: map-get($map, 'color-text');
	}
  }
}

h5:not([class]) {
  @include font-base-bold;
  @include font-size(16px);
}

h6:not([class]) {
  @include font-base-bold-italic;
  @include font-size(16px);
}


p {
  margin: 0 0 $text-small-spacing;
  @include font-size(16px);
  // @include break-word;
}

b,
strong {
  @include font-base-bold;
}

em,
i {
  font-style: italic;
  // @include font-serif-italic;
}

a {
  text-decoration: none;
  // color: inherit;
  color: $color-link;

  &:active,
  &:focus {
	outline: none;
  }
}

// blockquote {
// @include break-word;
// }

hr {
  display: block;
  height: 1px;
  margin: $text-verylarge-spacing 0;
  padding: 0;

  border-bottom: 1px solid $color-grey-light;
  border-left: none;
  border-right: none;
  border-top: none;
}
