$base-responsive-font-size: 16px !default;

h1 {
  margin: 0 0 1em;
  padding: 30px 0 0;
  text-transform: uppercase;
  @include font-base-bold;
  @include font-size(24px);

  @include media-min(XL) {
    margin: 1em 0 1em;
    padding: 0;
    @include font-size(30px);
  }
}

h2 {
  margin: 0 0 1em;
  padding: 30px 0 0;
  text-transform: uppercase;
  @include font-base-bold;
  @include font-size(20px);

  @include media-min(XL) {
    margin: 1em 0 1em;
    padding: 0;
    @include font-size(24px);
  }
}

h3 {
  margin: 2em 0 1em;
  text-transform: uppercase;
  @include font-base-bold;
  @include font-size(20px);

  @each $theme, $map in $themes {
	#{map-get($map, 'class')} & {
	  color: map-get($map, 'color-text');
	}
  }
}

h4 {
  @include font-base-bold;
  @include font-size(18px);

  @each $theme, $map in $themes {
	#{map-get($map, 'class')} & {
	  color: map-get($map, 'color-text');
	}
  }
}

h5 {
  @include font-base-bold;
  @include font-size(16px);
}

h6 {
  @include font-base-bold-italic;
  @include font-size(16px);
}


p {
  margin: 0 0 10px;
  @include font-size(16px);
  // @include break-word;
}

b,
strong {
  @include font-base-bold;
}

em,
i {
  font-style: italic;
  // @include font-serif-italic;
}

a {
  text-decoration: none;
  // color: inherit;
  color: $color-link;

  &:active,
  &:focus {
	outline: none;
  }
}

// blockquote {
// @include break-word;
// }

hr {
  display: block;
  height: 1px;
  margin: 10px 0;
  padding: 0;

  border-bottom: 1px solid $color-grey-light;
  border-left: none;
  border-right: none;
  border-top: none;
}
