// sizes
$status-bar-shift: 20px;

$header-height: 80px;
$navbar-height: 70px;

$input-height: 52px;

// font size
$base-font-size: 16px;


// margins/paddings
$content-margin: 11px;

$text-small-spacing: .25em;
$text-large-spacing: .5em;
$text-verylarge-spacing: 1em;
$text-ultralarge-spacing: 2em;


// line-heights
$base-line-height: 1.4;
$heading-line-height: 1.2;


// durations
$hover-transition-duration: .3s;
$overlay-animation-duration: .4s;
$image-transition-duration: .6s;


// z-indexes
// custom map used in the function get-zindex()
$z-layers: (
	'modal': 40,
	'menu': 30,
	'menu-overlay': 29,
	'loader': 20,
	'header': 10,
	'qrscan': 5,
	'above': 1,
	'base': 0,
	'below': -1
);


// retina
$retina-density: 1.5;
$retina-breakpoint: 600px;

// List for letter-spacing function
$ls: (
	'base': -10,
	'heading': 10,
	'button': 5,
	'slogan': -100,
);

// Example
/*body {
  letter-spacing: ls(base);
}*/


// icons
$icons: (
	'link': '\e800',
	'facebook': '\e801',
	'tags': '\e802',
	'down': '\e803',
	'left': '\e804',
	'right': '\e805',
	'up': '\e806',
	'twitter': '\e807',
	'linkedin': '\e808',
	'trash': '\e809',
	'location': '\e80a',
	'share': '\e814',
	'link-ext': '\f08e'
);