<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <script defer="defer" src="../../../dist/main.js"></script>
  <script defer="defer" src="../../../dist/vendor.js"></script>
  <link href="../../../dist/styles/main.d09ae8a61d25ea991b74.css" rel="stylesheet">
</head>
<body>
<div class="layout--normal">
  <div class="test"><h1 class="test">BoilerPlate WEBPACK / SASS / ES6</h1>
    <h2>Minimal Webpack boilerplate with Babel, Sass, ESLint, Hot Module Replacement, and development/production
      optimization.</h2>
    <div class="block-test">
      <ul>
        <li><img src="assets/img/logo-webpack.png" alt="logo webpack"></li>
        <li><img src="assets/img/babel.svg" alt="logo babel"></li>
        <li><img src="assets/img/sass.png" alt="logo sass"></li>
      </ul>
      <div><h3>Development server :</h3>
        <p>npm start</p>
        <h3>Production build :</h3>
        <p>npm run build</p></div>
    </div>
  </div>
</div>
<script>window.ga = function () {
  ga.q.push(arguments)
};
ga.q = [];
ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview')</script>
<script src="https://www.google-analytics.com/analytics.js" async defer="defer"></script>
</body>
</html>
