// common
$color-black: #000;
$color-white: #fff;
$color-black-light: #222;
$color-grey: #6f6f6f;
$color-grey-light: #e7e7e7;
$color-grey-xxlight: #eef3ff;

// text
$color-text: #584446;
$color-error: #e50006;

// color
$color-link: #2193f4;


// themes (if necessary)
$themes: (
	'default': (
		'class': '',
		'color': $color-error,
		'color-text': $color-text,
	),
	'red': (
		'class': '.theme-red',
		'color': $color-link,
		'color-text': $color-white,
	)
);
// ex:
@each $theme, $map in $themes {
  #{map-get($map, 'class')} & {
	/*background: map-get($map, 'color');
	color: map-get($map, 'color-text');*/
  }
}
